<div class="m-2">
    <button routerLink="">Back to list</button>
</div>

<form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <app-text-input [formControl]='registerForm.controls["username"]' 
        [label]='"Username"'>
    </app-text-input>
    <app-text-input [formControl]='registerForm.controls["password"]' 
        [label]='"Password"' [type]='"password"'>
    </app-text-input>
    <app-text-input [formControl]='registerForm.controls["confirmPassword"]' 
        [label]='"Confirm Password"'
        [type]='"password"'>
    </app-text-input>
    <button class="btn btn-success mr-2" type="submit">Register</button>

</form>